<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388493344657-ovlsk6e9fckfrgmp9324c1dbavc8j8oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388493344657-ovlsk6e9fckfrgmp9324c1dbavc8j8oc</string>
	<key>API_KEY</key>
	<string>AIzaSyDKHnlUHSQXldUn5P6XiSX0ERfBV407kYE</string>
	<key>GCM_SENDER_ID</key>
	<string>388493344657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.menufy</string>
	<key>PROJECT_ID</key>
	<string>loginpage-27a12</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpage-27a12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388493344657:ios:d477cdbee274384eace430</string>
</dict>
</plist>